


.mag-filepicker {

  .mag-field--input {
    display: block;
    border: 2px solid $light;
    padding: 10px;
    border-radius: 4px;

    > span {
      display: inline-block;
      font-size: 0.9em;
      color: $dark;
    }

    input[type="file"] {
      @include screen-reader-only();
    }

    label {
      cursor: pointer;
      display: inline-block;
      background: $primary;
      color: $light;
      padding: 10px 15px;
      border-radius: 4px;
      font-size: 0.85em;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 10px;
    }
  }

  &.mag-filepicker-dropzone {

    .mag-field--input {
      border-bottom: none;
      border-radius: 4px 4px 0 0;
    }
  }
}



.mag-dropzone {
  min-height: 160px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: 2px solid $light;
  border-radius: 0 0 4px 4px;

  &.mag-dropzone-dragging {
    box-shadow: rgba($primary, 0.2) 0 0 0 4px;
    border-color: $primary;
  }

  &.mag-dropzone-hasfiles {
    display: block;
  }
}

.mag-dropzone-empty {
  pointer-events: none;

  svg {
    display: block;
    margin: 0 auto 10px;
  }
  p {
    margin: 0 0 10px;
    font-size: 0.9em;
  }
}



.mag-filepicker-files {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  li {
    display: block;
    position: relative;
    width: 110px;
    margin: 15px;
  }

  figure {
    height:0; margin:0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    
    img {
      display: block; position:absolute;
      top:0; left:0; 
      min-width: 100%;
      min-height: 100%;
      width: 100%;
    }
  }

  figcaption {
    line-height: 1.1;
    display: block;
    font-size: 10px;
    background: $light;
    display: block;
    padding: 6px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    span {
      
    }
  }
}


.mag-filepicker-file-x {
  @include btn-reset();
  width: 28px; height: 28px;
  background: $light;
  border-radius: 50%;
  position: absolute;
  top:-4px; left:-4px;
}

.mag-filepicker-trashicon {
  display: block;
  svg {
    display:block; position: absolute;
    top: 6px; left: 6px;
    width: 16px; height: 16px;
    stroke: $danger;
  }
}


