@import "settings";
@import "layout";
@import "topbar";
@import "filepicker";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font-family;
  color: $dark;
  line-height: 1.4;
  font-weight: 400;
}


#{headings()} {
  line-height: 1.1;
  margin-top: 0;
  font-weight: 700;
}



.mag-main {
  padding-top: 70px;
}



// grid / layout

.mag-row {

}

.mag-flex-row {
  display: flex;
  flex-wrap: wrap;
}